{% load staticfiles %}
<html>
    <head>
        <title>Tiger Planner</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>Tiger Planner</h1>
        </div>
        <div class="class-select-box">
            <h2>Pick your classes</h2>
            <form action="" method="post">{% csrf_token %}
                {{ subject_form.as_p }}
            </form>
            <form action="" method="post">{% csrf_token %}
                {{ isgn_form.as_p }}
            </form>
            <form action="" method="post">{% csrf_token %}
                {{ time_form.as_p }}
                <button type="submit">Hit it</button>
            </form>
        </div>
        <div class="schedule-box">
            <h2>Schedule</h2>
        </div>
    </body>
</html>