.page-header {
    text-align: center;
    font-size: large;
    font-family: Gill Sans, Gill Sans MT;
}

.class-select-box {
    text-align: center;
    float: left;
    width: 250px;
    height: 500px;
    background-color: #FF671F;
}

.schedule-box {
    text-align: center;
    float: left;
    width: 250px;
    height: 500px;
}